:root {
  font-size: 16px;
}

#challenges .track-info,
#challenges .track-container,
#challenges,
#aboutSection h2 {
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: #c7ecfa;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

@media screen and (max-width: 980px) {

  html,
  body {
    letter-spacing: 1px;
  }
}

nav {
  z-index: 2;
  position: fixed;
  padding-top: 1%;
  padding-bottom: 0.25%;
  /* box-shadow: 0px 10px 5px 0px #2a3887; */
  width: 100%;
  background-color: #2a3887;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a .logo {
  margin-top: 0.6rem;
  align-self: center;
  height: 3.5rem;
  margin-top: auto;
  margin-left: 45%;
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  left:10px;
  top:0;
  width:10%;
  z-index:10000;
}


.header-logo {
  width: 80%;
}

@media screen and (max-width: 800px) {
  nav a .logo {
    display: none;
  }
}

nav a {
  text-decoration: none;
  font-weight: 600;
}

nav .navButton {
  text-align: center;
  cursor: pointer;
  color: #ffeb7b;
  transition: 0.2s;
}

nav .navButton:hover {
  color: #de495f;
}

nav #sliderContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  nav #sliderContainer {
    display: none;
  }
}

nav #sliderContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0;
  align-items: flex-end;
}

nav #bar {
  flex: 1;
  margin-top: 4rem;
  border: 3px;
  border-style: dashed;
  height: 5px;
  width: 100px;
  position: absolute;
  bottom: 35%;
  margin-left: 7%;
}

.filled {
  background: #ffeb7b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}

.circle {
  /* background: #ffeb7b; */
  border: 2px solid #ffeb7b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}

.navButtonWrapper {
  width: 10vw;
}

.navButtonWrapper:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .navButtonWrapper {
    width: 9vw;
  }
}


@media screen and (min-width: 1140px) {
  .navButtonWrapper {
    width: 8vw;
  }
}

@media screen and (min-width: 1500px) {
  .navButtonWrapper {
    width: 6vw;
  }
}


#homeButton:hover > div#homeBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#homeButton:hover > #t1 {
  color: #de495f;
}
#aboutButton:hover > div#aboutBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#aboutButton:hover > #t2 {
  color: #de495f;
}
#speakerButton:hover > div#tracksBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#speakerButton:hover > #t3 {
  color: #de495f;
}
#applyingButton:hover > div#applyingBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#applyingButton:hover > #t4 {
  color: #de495f;
}
#sponsorButton:hover > div#sponsorBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#sponsorButton:hover > #t5 {
  color: #de495f;
}
#faqButton:hover > div#faqBubble {
  box-shadow: 0 0 5px 2px rgba(255, 235, 123, 1);
}
#faqButton:hover > #t6 {
  color: #de495f;
}

#moose-mark {
  border: 4px solid #ffeb7b;
  z-index: 4;
  visibility: hidden;
  display: inline;
  position: fixed;
  top: 0.5rem;
  left: 11rem;
}

.sponsor-blocks {
  margin-left: 4%;
  margin-right: 4%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sponsor-blocks::-webkit-scrollbar {
  display: none;
}

#slider-container .buttonContainer a {
  border: 2px solid #de495f;
  border-radius: 10px;
  margin-left: 7rem;
  padding: 8px;
  width: 2.5px;
  height: 2.5px;
  display: inline-block;
}

#side-info {
  display: none;
  height: 100vh;
  width: 22vw;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: black;
  color: white;
  padding-left: 10vw;
}

#side-info ul {
  position: fixed;
  left: 0px;
  top: 40px;
  padding: 2rem 0.5rem;
}

#side-info li {
  list-style-type: none;
}

#ham-container {
  z-index: 4;
  position: absolute;
  left: 75%;
  top: 4%;
  align-self: flex-end;
  display: inline-block;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #ham-container {
    display: none;
  }

  .header-logo {
    width: 40%;
  }
}

#ham-container .bar1,
#ham-container .bar2,
#ham-container .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  z-index: 4;
  background-color: white !important;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white !important;
}

.planet {
  width: 2rem;
  display: none;
  align-self: center;
}

.nav-dot {
  border: white 4px solid;
  border-radius: 40%;
  width: 0.5rem;
  height: 0.5rem;
  align-self: center;
}

.invis {
  border: none;
}

.active {
  display: block;
}

.planet-container {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

#aboutSection {
  padding: 0% 10% 0% 10%;
  overflow: hidden;
}

@media screen and (max-width: 766px) {
  #aboutSection {
    padding: 5% 5px 5% 5px;
  }
}

#aboutSection .top {
  margin-top: 1rem;
}

#aboutSection h2 {
  z-index: 1;
  color: #050f38;
  padding-bottom: 2rem;
  margin: -10px;
  font-size: 1.8rem;
}

#aboutSection h3 {
  color: #c7ecfa;
  margin-bottom: 1.5%;
  font-weight: bold;
  padding-left: 0;
  font-size: 1.5rem;
}

#aboutSection p {
  color: #c7ecfa;
  font-size: 1rem;
  width: 80%;
  position: relative;
  left: 10%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  padding-bottom: 2rem;
  text-align: center;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

.slideshow-box {
  box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.3);
  border-radius: 30px 30px 30px 30px;
}

/* Slides */
.mySlides {
  display: none;
  padding-top: 30px;
  text-align: center;
  background-color: #4684B4;
  border-radius: 30px 30px 0 0;
  min-height: 600px;
  overflow: hidden;
}

.mySlides img {
  height: 400px;
  width: auto;
}

/* Mobile version slides */
.slider {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; 
  width: 100%;  
  background-color: #4684B4;
  border-radius: 30px 30px 0 0;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide {
  width: 100%;
  padding-top: 30px;
  text-align: center;
  flex-shrink: 0;
}
.slide img {
  height: 400px;
  width: auto;
}
.slide p {
  width: 80%;
}
.slider > div {
  scroll-snap-align: start;
}
.mobile .dot-container {
  margin-top: -3px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -30px;
  padding: 14px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  background-color: #de495f;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.prev {
  border-radius: 0 50%;
}

.next {
  border-radius: 50% 0;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.prev {
  margin-left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
  color: #4684B4;
}

@media screen and (max-width: 980px){
  .prev, .next {
    background-color: transparent;
    box-shadow: none;
  }
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 5px;
  background: #4684B4;
  border-radius: 0 0 30px 30px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #de495f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

.mobile #dot-1 {
  background-color: white;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: white;
}

#team-bio {
  margin-top: 5%;
  
}

#team-bio p {
  color: #050F38;
}

#team-bio a:active {
  color: #050F38;
}

#team-bio a:visited {
  color: #050F38;
}

.marginFormat {
  height: 20vh;
  width: 100%;
  display: inline-block;
}

#speakers {
  text-align: center;
}

.speaker-div {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.speaker-div img {
    width: 80%;
    box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.3);
}

.speaker-div p {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (min-width: 900px) {
  .speaker-div {
    width: 50%;
    float: left;
  }

  .speaker-div img {
    width: 60%;
  }
  
  .speaker-div p {
    padding-left: 10%;
    padding-right: 10%;
  }

  #Danaher img {
    width: 40%;
  }

  #Danaher p {
    text-align: left;
  }
}

#Danaher {
  width: 100%;
  display: inline-block;
}

.schedule-Table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-style: hidden;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
}

.schedule-Table caption {
  font-weight: 900;
  margin-top: 4vh;
  padding-top: 1vh;
  background-color: #4684B4;
  color: white;
  box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3), -1px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3rem 3rem 0 0;
}

.schedule-Table td{
  border: 1px solid black;
  margin: 0;
  text-align: center;
  width: 50%;
  padding-left: 8%;
  padding-right: 8%;
}

@media only screen and (max-width: 600px) {
  .schedule-Table td{
    height: 6vh;
  }
}

@media only screen and (max-width: 450px) {
  .schedule-Table td{
    height: 8vh;
  }
}

#challenges {
  display: block;
}

#challenges p {
  margin: 0% 10%;
  padding-top: 1rem;
  color: #050f38;
  font-size: 1rem;
  text-align: center;
  display: block;
  overflow: auto;

}

#challenges h2 {
  color: #050f38;
  font-size: 1.8rem;
}

#challenges .challengeRow {
  display: flex;
}

#challenges .challengeRow .challengeColumn {
  flex: 30%;
}

#challenges .challengeRow .challengeColumn img {
  width: 75%;
  margin: none;
  float: right;
  position: relative;
  z-index: 0;
}

#challenges .challengeRow .challengeColumn p {
  margin: 0% 10%;
  padding-top: 1rem;
  color: #050f38;
  font-size: 1rem;
  text-align: center;
  display: block;
  overflow: auto;
}

#challenges .track-container {
  float: none;
  display: flex;
  margin-left: 10%;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  grid-template-areas: "track1 track2 track3";
  -webkit-grid-column-gap: 3rem;
  -moz-grid-column-gap: 3rem;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 5%;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 980px) {
  #challenges .track-container {
    flex-direction: column;
  }
}

#challenges .track-container .track {
  margin: 10px;
}

#challenges .track-container #track1 {
  height: 20rem;
  width: 25rem;
  background-color: white;
  grid-area: track1;
}

.track-container h2 {
  margin-bottom: 0;
}

#challenges .track-container #track1 h2 {
  font-size: 1.5rem;
}

#challenges .track-container #track1 .imgrow {
  margin-top: 0;
  position: relative;
  display: flex;
}

#challenges .track-container #track1 .imgrow img {
  padding: 0.5rem;
  width: 40%;
  height: 40%;
  flex: 40%;
}

#challenges .track-container #track2 {
  background-color: #fff;
  height: 20rem;
  width: 25rem;
  grid-area: track2;
}

#challenges .track-container #track2 h2 {
  font-size: 1.5rem;
}

#challenges .track-container #track2 img {
  margin-top: 2rem;
}

#challenges .track-container #track3 {
  background-color: #fff;
  grid-area: track3;
  height: 20rem;
  width: 25rem;
}

#challenges .track-container #track3 h2 {
  font-size: 1.5rem;
}

#challenges .track-container #track3 img {
  width: 16.94vw;
  height: 4.88vw;
}

#challenges .track-container #track1,
#challenges .track-container #track2,
#challenges .track-container #track3 {
  width: 15rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

#challenges .track-container .track {
  border: 3px solid #050f38;
  border-radius: 3rem;
  min-width: 30%;
}

.imgrow {
  min-height: 30%;
}

#challenges .track-container .track img {
  /* height: 10rem;   */
}

#challenges .track-container .track:hover {
  border-color: #de495f;
  transform: scale(1.02);
}

#challenges .black-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 3;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#challenges .track-info {
  z-index: 4;
  background-color: #ffff;
  width: 80%;
  height: 80%;
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 10%;
  font-family: "Raleway", sans-serif;
  color: #050f38;
  left: 10%;
}

#challenges .track-info .close {
  float: right;
  margin: 1rem;
  font-size: 36px;
  font-weight: bold;
}

#challenges .track-info ul {
  list-style-position: inside;
}

#challenges .track-info .track-row {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  right: 1.5%;
  display: flexbox;
  overflow: auto;
}

@media screen and (max-width: 480) {
  #challenges .track-info .track-row {
    flex-direction: column;
  }
}

#challenges .track-info .track-row .track-column h1 {
  padding: 3rem 0 2rem 0;
  font-size: 1.35rem;
}

#challenges .track-info .track-row .track-column iframe {
  margin: 2rem;
  width: 100%;
}

#challenges .track-info .track-row .track-column h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  color: #050f38;
}

#challenges .track-info .track-row .track-column p {
  font-size: 0.7rem;
}

.header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: #050f38;
  color: #050F38;
}

.subheader {
  color: #050F38;
  font-size: 1.5rem;
  text-align: center;
}

a.header-action {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

a.header-action:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.subsection {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.linkDiv {
  width: 80%;
  text-align: center;
  float: left;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.subtext {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #050F38;
}

#videos {
  text-align: center;
  display: inline-block;
  padding-bottom: 5vh;
  width: 100%;
  height: 40vh;
}

.videoDiv {
  height: 100%;
}

@media only screen and (min-width: 980px) {
  .videoDiv {
    width: 50%;
    float: left;
  }
}


#faqSpacing {
  height: 10vh;
}

.FAQContainer {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.FAQColumn {
  width: 100%;
  float: left;
}

#FAQDivisor { 
  height: 10vh;
  width: 100%;
  display: inline-block;
}

#FAQDivisor p {
  text-align: center;
}

@media only screen and (min-width: 980px) {
  .FAQColumn {
    width: 50%;
  }

  .subheader {
    text-align: left;
  }

  .linkDiv {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

.FAQDiv {
  float: left;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 7px;
  background-color: #4684B4;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}



.FAQButton {
  border-radius: 7px;
  background-color: white;
  border: none;
  background-color: inherit;
  font-family: "Raleway", sans-serif;
  width: 100%;
  min-height: 40px;
  display:block;
  color: white;
  font-size: 1rem;
}

.FAQButton:focus {
  outline: 0;
}

.FAQButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.FAQAnswer {
  padding-left: 5%;
  padding-right: 5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E8DCCA;
  border-radius: 0px 0px 7px 7px;
}

h1,
h2,
h4 {
  color: #050F38;
}

/* Header */
.header-top {
  height: 100vh;
  width: 100%;
}

.bg-gif {
  position: relative;
  background-color: transparent;
}

.bg-gif::after {
  content: "";
  position: absolute;
  background-image: url("../img/splash-page3.gif");
  height: 700px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
}

@media only screen and (min-width: 1240px) {
  .bg-gif {
    position: relative;
    background-color: transparent;
  }

  .bg-gif::after {
    content: "";
    position: absolute;
    background-image: url("../img/splash-page3.gif");
    height: 200vh;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 0%;
    -moz-background-size: cover;
  }
}

.header-top {
  height: 80vh;
}


.announcementLink:active {
  color: #050F38;
}

.announcementLink:hover {
  color: #050F38;
  text-decoration: none;
}

.announcementLink:visited {
  color: #050F38;
}

.announcementLink:link {
  color: #050F38;
}


.header-spacing {
  background-color: #8EDBF3;
  height: 20vh;
  width: 100%;
}

.header-text {
  z-index: 1;
  width: 100%;
  top: 0%;
  position: absolute;
  text-align: center;
}

.header-text-headline {
  font-size: 54px;
}

.header-action {
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 7px;
  color: white;
  background-color: #DE495F;
}

.header-action:hover {
  text-decoration: underline;
  background-color: white;
  color: #DE495F;
}

.header-action.nav-apply {
  margin: 0 20px 0 20px;
}

#announcementSection {
  padding-top: 20vh;
}


@media screen and (max-width: 1140px){
  .header-action.nav-apply {
    display: none;
  }

  #sliderContainer {
    margin-top: 0.75%;
  }
}

.wrapper {
  justify-content: center;
}

.container {
  background-color: #58a7e7;
  align-self: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

/* Sponsor */
.progress-container2 {
  width: 100%;
  height: 4px;
  background: #c7ecfa;
}

.progress-container1 {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(#58a7e7, #e6f8ff, #58a7e7);
}

#myBar1 {
  height: 4px;
  background-color: #c7ecfa;
  width: 0%;
}

#myBar2 {
  height: 4px;
  background-image: linear-gradient(#58a7e7, #e6f8ff, #58a7e7);
  width: 0%;
}

#sponsor {
  background-color: #c7ecfa;
  
}

#headline {
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.sponsor {
  display: inline-block;
  margin: 14px;
}

.sponsor-block {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.controls {
  position: absolute;
  top: 90px;
}
.controls a {
  position: absolute;
  display: block;
  width: 18px;
  height: 20px;
}
a.control_left {
  background: "&#10095";
  left: 10px;
}
a.control_right {
  background: "&#10094";
  left: 370px;
}

.website-bottom {
  z-index: -1;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 50vh;
  background-image: url("../img/footer_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 500px) {
  .website-bottom {
    background-image: url("../img/footer.png");
    background-size: 100% 100%;
    background-repeat: none;
    height: 974px;
    width: auto;
    padding-bottom: 0;
  }
}

.footer {
  padding-top: 20vh;
  height: 100%;
  width: 100%;
  background-color: #EED4C3;
  display: block;
  min-height: 325px;
}

.footer-left {
  width: 100%;
  float: left;
  background-color: #EED4C3;
}

.footer-left img {
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
  width: 70%;
  object-fit: contain;
}

.footer-left p {
  color: #050F38;
  margin-left: 15%;
  margin-right: 15%;
}

.footer-right {
  text-align: center;
  height: 100%;
  width: 100%;
  float: right;
  background-color: #EED4C3;
}

.footer-right h1 {
  color: #4684B4;
  margin: 0;
}

.linkContainer {
  text-decoration: none;
  text-align: center;
  color: #4684B4;
}

.linkContainer a {
  text-decoration: none;
  font-size: 18px;
  color: #050F38;
}

.linkContainer a:hover {
  text-decoration: underline;
}

.linkContainer a:visited {
  color: #050F38;
}

.linkContainer a:active {
  color: #050F38;
}

@media only screen and (min-width: 500px) {
  .footer {
    margin-top: -25vh;
  }

  .footer-left {
    width: 50%;
  }

  .footer-right {
    width: 50%;
  }

  .footer-right h1 {
    text-align: right;
    margin-right: 15%;
  }

  .footer-right a {
    text-align: right;
    margin-right: 15%;
  }

  .linkContainer {
    text-align: right;
  }
}

/*# sourceMappingURL=main.css.map */