@import "helpers/placeholders.scss";

$background-color: #efefef;
$highlight-color: #e2d8d6;
$small-text-color: #193f55;
$large-text-color: #042449;
$pop-color: #BF4D42;

$section-header-size: 3rem;
$subsection-size: 2rem;
$content-size: 1.5rem;

$menu-background-color: #dbdbdb;

$font-fam: custom, sans-serif;

@font-face {
    font-family: custom;
    src: url(../assets/Raleway-Light.ttf);
}

html, body {
    background: $background-color;
    margin:0;
    padding:0;
    font-family: custom;
    font-size: 1vmax;
}

.jumbotron {
    background-color: $background-color;
    color: $large-text-color;
    font-size: 30rem;
    margin-bottom: 0;
}

#side-info {
    display: none;
    background-color: $large-text-color;
    color: white;
    position: fixed;
    z-index: 3;
    height: 300rem;
    left: 25vw;
    top: 0%;
    width: 75vw;
    opacity: 0.85;
    padding: 0;
    ul {
        padding: 0;
    }
    ul li {
        position: relative;
        top: 10%;
        font-size: 4rem;
        list-style-type: none;
        padding: 1rem 5rem;
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: $small-text-color;
        }
    }
    .apply {
        color: $pop-color;
        a {
            text-decoration: none;
            color: $pop-color;
        }
    }
}

#header {
    background-color: $background-color;
    background-image: url("../assets/snow_day_header_wide.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 65rem;
    width: 100%;
    z-index: 2;
    @media screen and (max-width: 768px) {
        background-image: none;
    }

    @media screen and (min-width: 600px) and (max-width: 768px) {
        height: 180vh;
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 30vh;
    }

    //iphone 5
    @media screen and (width: 320px) and (height: 568px) {
        margin-bottom: 100px;
    }

    //iphone 6/7/8 Plus
    @media screen and (width: 414px) and (height: 736px) {
        margin-bottom: 100px;
    }

    //iphone 6/7/8
    @media screen and (width: 375px) and (height: 667px) {
        margin-bottom: 100px;
    }

    //Pixel 2
    @media screen and (width: 411px) and (height: 731px) {
        margin-bottom: 100px;
    }

    //Galaxy S5
    @media screen and (width: 360px) and (height: 640px) {
        margin-bottom: 100px;
    }

    .description {
        @extend %center;
        font-size: 1.5rem;
        color: $pop-color;
        position: relative;
        top: 25rem;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        //general phone
        @media screen and (max-width: 768px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 65%;
            z-index: 2;
            width: 40rem;
        }

        //Galaxy S8
        @media screen and (width: 360px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 80%;
            z-index: 2;
            width: 40rem;
        }

        //iPhoneX
        @media screen and (width: 375px) and (height: 812px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 70%;
            z-index: 2;
            width: 40rem;
        }

        //iphone 6/7/8 Plus
        @media screen and (width: 414px) and (height: 736px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 90%;
            z-index: 2;
            width: 40rem;
        }

        //iphone 6/7/8
        @media screen and (width: 375px) and (height: 667px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 90%;
            z-index: 2;
            width: 40rem;
        }

        //iphone 5SE
        @media screen and (width: 320px) and (height: 568px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 90%;
            z-index: 2;
            width: 40rem;
        }

        //Pixel 2 XL
        @media screen and (width: 411px) and (height: 823px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 80%;
            z-index: 2;
            width: 40rem;
        }

        //Pixel 2
        @media screen and (width: 411px) and (height: 731px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 90%;
            z-index: 2;
            width: 40rem;
        }

        //Galaxy S5
        @media screen and (width: 360px) and (height: 640px) {
            font-size: 1.85rem;
            color: $pop-color;
            position: relative;
            top: 90%;
            z-index: 2;
            width: 40rem;
        }
    }

    .mobileBG {
        display:none;

        @media screen and (max-width: 768px) {
            display: block;
            z-index: 1;
            position: absolute;
            width: 100vw;
            top: 0;
            left: 0;
        }
    }

    .longButton {
        a {
            h2 {
                font-size: $section-header-size * 0.5;
            }
        }
    }

    .applyButton {
        a {
            text-decoration: none;
            h2 {
                background-color: $background-color;
                color: black;
                transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
            }
        }
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 35rem;
        padding: 0.5rem;
        background-color: $background-color;
        width: 225px;
        vertical-align: center;
        @extend %center;
        border-radius: 5%;
        transform: scale(0.85);
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        &:hover {
            text-decoration: none;
            transform: scale(1);
            background-color: $pop-color;
            color: #FFFF;
            cursor: pointer;
            h2 {
                background-color: $pop-color;
                color: #ffff;
            }
        }

        //general Phone
        @media screen and (max-width: 768px) {
            top: 110rem;
            z-index: 2;
            width: 20rem;
        }

        //Galaxy S8
        @media screen and (width: 360px) and (height: 740px) {
            top: 56rem;
            z-index: 2;
            width: 20rem;
        }
        //iPhone X
        @media screen and (width: 375px) and (height: 812px) {
            top: 52rem;
            z-index: 2;
        }

        //iphone 6/7/8 Plus
        @media screen and (width: 414px) and (height: 736px) {
            top: 64rem;
            z-index: 2;
        }

        //iPhone 6/7/8
        @media screen and (width: 375px) and (height: 667px) {
            top: 64rem;
            z-index: 2;
        }

        //iPhone 5/SE
        @media screen and (width: 320px) and (height: 568px) {
            top: 64rem;
            z-index: 2;
            width: 20rem;
        }

        //Pixel 2 XL
        @media screen and (width: 411px) and (height: 823px) {
            top: 58rem;
            z-index: 2;
            width: 20rem;
        }

        //Pixel 2
        @media screen and (width: 411px) and (height: 731px) {
            top: 64rem;
            z-index: 2;
            width: 20rem;
        }

        //Galaxy S5
        @media screen and (width: 360px) and (height: 640px) {
            top: 64rem;
            z-index: 2;
            width: 20rem;
        }

    }


}

#ham-container {
    @media screen and (min-width: 800px) {
        display: none;
    }
    z-index: 5;
    position: relative;
    right: 5rem;
    display: inline-block;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

}

.change {

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        z-index: 4;
        background-color: white!important;
    }

    .bar2 {opacity: 0;}

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: white!important;
    }
}

#slider-container {
    @media screen and (max-width: 800px) {
        display: none;
    }
    position: relative;
    left: 21.5rem;
    position: fixed;
    top: 1.5rem;
    ul a {
        border: 2px solid $small-text-color;
        border-radius: 10px;
        margin-left: 7rem;
        padding: 8px;
        width: 2.5px;
        height: 2.5px;
        display: inline-block;
        .bubble {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            padding: 1rem;
            float: left;
            text-align: center;
            position: relative;
            font-size: 1.25rem;
            #homeBubP {
                position:relative;
                right: 17.4rem;
                bottom: 0.5rem;
            }
            #aboutBubP {
                position: relative;
                right: 38.7rem;
                bottom: 0.5rem;
            }
            #tracksBubP {
                position: relative;
                right: 41.7rem;
                bottom: 0.5rem;
            }

            #logBubP {
                position: relative;
                right: 44.7rem;
                bottom: 0.5rem;
            }

            #applyBubP {
                position: relative;
                right: 49.2rem;
                bottom: 0.5rem;
            }
        }
        div {
            display: inline-block;
            position: relative;
            left: 15rem;
            color: $small-text-color;
            text-decoration: none;
            top: 0.5rem;
        }

    }
    ul .filled {
        background-color: $small-text-color;
    }
    ul #moose-mark {
        border: 3px solid $small-text-color;
        z-index: 4;
        width: 0;
        visibility: hidden;
        display: inline;
        position: fixed;
        top: 0.5rem;
        left: 11rem;
    }
}

.navbar, .navbar-default {
    z-index: 3;
    background-color: #FFFF;
    width: 100vw;
    position: fixed;
    height: 6rem;
    .nav-item {
        a {
            color: $small-text-color;
            font-size: 1.5rem;
            box-shadow: 0px 0.5rem;
            &:hover, &:focus {
                background-color: $small-text-color;
                color: #FFFF;
                box-shadow: 0px 0.5rem $small-text-color;
                &:after {
                    transform: scaleY(1);
                }
            }
            transition: color .1s ease-out;
            z-index: 1;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom center;
                background: red;
                z-index: -1;
                transition: transform 0.3s;
            }

        }
        display: block;
        padding: 0 .5rem;

        position: relative;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        background-color: $highlight-color;
        border-radius: 0.2rem;
        border: 1px solid $pop-color;
        color: $pop-color;
    }
    .navbar-brand {
        color: $pop-color;
    }

    #navbar-logo {
        background-image: url("../assets/logos/medhacks-without-cross.png");
        width: 25rem;
        height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .applyButton {
        @media screen and (max-width: 800px){
            display: none;
        }
        a {
            text-decoration: none;
            h2 {
                background-color: $pop-color;
                color: #ffff;
                transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
                vertical-align: center;
            }
        }
        margin-right: 5.5rem;
        padding: 0.5rem;
        color: #FFFF;
        background-color: $pop-color;
        width: 15rem;
        vertical-align: center;
        @extend %center;
        border-radius: 0.5rem;
        transform: scale(0.85);
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        &:hover {
            transform: scale(1);
            background-color: $background-color;
            color: black;
            cursor: pointer;
            h2 {
                background-color: $background-color;
                color: black;
                vertical-align: center;
            }
        }
    }
}

.header-text-actions {
    margin-top: 24px;
    text-align: center;
}

.header-text-action {
    border: 3px solid #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-right: 18px;
    padding: 14px 30px;
    transform: scale(.925);
    transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}

#basicInfo {
    display: flex;
    h2 {
        color: $large-text-color;
    }
    #infoContainer {
        display: flex;
        p {
            margin: auto;
            width: 80%;
            color: #ffff;
            //font-family: $font-fam;
            font-size: 1.85rem;
            line-height: 3rem;
            @extend %center;
        }
        width: 100%;
        height: 20rem;
        margin: 0% 0%;
        background-color: $small-text-color;
        @extend %center;
        position: relative;
    }
    background-color: $background-color;

}

#aboutSection {
    background-color: $background-color;
    margin-bottom: 0;
    padding-top: 5%;
    .top {
        margin-top: 1rem;
    }
    h2 {
        color: $large-text-color;
        padding-bottom: 2rem;
        font-size: $section-header-size;
        @extend %center;
    }

    h3 {
        color: $large-text-color;
        margin-left: 10%;
        margin-bottom: 1.5%;
        font-weight: bold;
        padding-left: 0;
        font-size: $subsection-size;
        margin-top: 2.5rem;
    }

    p {
        color: $small-text-color;
        font-size: $content-size;
        width: 80%;
        position:relative;
        left: 10%;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-bottom: 2rem;
    }
    overflow: hidden;
    #melvin-text {
        margin: 0% 10vw;
        display: inline;
    }

    img {
        width: 22.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
        float: right;
    }
}

#challenges {
    display: block;
    p {
        //width: 34%;
        margin: 0% 10%;
        padding-top: 1rem;
        color: $small-text-color;
        font-size: $content-size;
        text-align: center;
        display: block;
        overflow:auto;
        margin-bottom: 5%;
    }
  h2 {
      color: $large-text-color;
      padding-bottom: 4rem;
      font-size: $section-header-size;
  }
  .challengeRow {
    display: flex;
    .challengeColumn {
        flex: 30%;
        img {
          width: 75%;
          margin: none;
          float: right;
          position: relative;
          z-index: 0;
          
      //     left: 55%;
      //     padding: 0;
      //     margin: 0;
      //     display: block;
      }
      p {
          //width: 34%;
          margin: 0% 10%;
          padding-top: 1rem;
          color: $small-text-color;
          font-size: $content-size;
          text-align: center;
          display: block;
          overflow:auto;
    
      }
  }
  
}
  
  background-color: $background-color;
  .track-container {
      @extend %center;
        float: none;
        margin-left: 10%;
        display: grid;
        width: 80%;
        height: 50%;
        grid-template-areas: "track1 track2 track3";
        -webkit-grid-column-gap: 3rem;
        -moz-grid-column-gap: 3rem;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        padding-bottom: 5%;
        background-color: $background-color;
        font-family: $font-fam;
        color: $small-text-color;
        #track1 {
            height: 20rem;
            width: 25rem;
            background-color: #fff;
            grid-area: track1;
            h2 {
                font-size: $subsection-size;
                color: $small-text-color;
            }
            .imgrow {
                
                position: relative;
                bottom: 2rem;
                display: flex;
                img {
                    padding: 0.5rem;
                    width: 40%;
                    height: 40%;
                    flex: 40%;
                }
            }
        }

        #track2 {
            background-color: #fff;
            height: 20rem;
            width: 25rem;
            grid-area: track2;
            h2 {
                font-size: $subsection-size;
                color: $small-text-color;
            }
            img {
                width: 12.50vw * 1.5;
                height: 2.75vw * 1.5;
                margin-top: 2rem;
            }
        }
        #track3 {
            background-color: #fff;
            grid-area: track3;
            height: 20rem;
            width: 25rem;
            h2 {
                font-size: $subsection-size;
            }
            img {
                width: 847vw * .020;
                height: 244vw * .020;
            }
        }
      .track {
          border: 3px solid $small-text-color;
          border-radius: 3rem;
          padding: 3rem;

          img {
              width: 10rem;
              height: 10rem;
          }

          

          &:hover {
              border-color: $pop-color;
              cursor: pointer;
          }
      }
  }

  .black-overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.7); /* Black background with opacity */
      z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
  }

  .track-info {
        z-index: 4;
        background-color: #ffff;
        width: 80%;
        height: 80%;
        @extend %center;
        display: none;
        position: fixed;
        box-sizing: border-box;
        background-color: $background-color;
        top: 10%;
        font-family: $font-fam;
        color: $small-text-color;
        left: 10%;
        .close {
            float: right;
            margin: 1rem;
            font-size: 36px;
            font-weight: bold;
        }
        ul {
            list-style-position: inside;
        }
        

        .track-row {
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            right: 1.5%;
            .track-column {
                h1 {
                    padding: 3rem 0 2rem  0;
                    font-size: $section-header-size * 0.75;
                }
                iframe {
                    margin: 2rem;
                    width: 100%;
                }
                h2 {
                    font-size: $subsection-size;
                    margin: 0;
                    padding: 0.5rem;
                }
                p {
                    font-size: $content-size * 0.7;
                }
            }
        }
  }
}

#logistics {
    margin-top: 75px;
    h2 {
        @media screen and (max-width: 600px) {
            margin-top: 100px;
        }
        font-size: $section-header-size;
        padding-bottom: 1.5rem;
    }
    p {
      width: 60%;
      margin: 0% 21%;
      padding-top: 1rem;
      color: $small-text-color;

    }
    background-color: $background-color;

    .scheduleContainer {
      @media screen and (max-width: 1000px) {
        display:none;
      }
        width: 59.8%;
        @extend %center;
        position: relative;
        left: 20%;
        font-size: 1.89rem;
        //background-color:$menu-background-color;
        padding-bottom: 0.1rem;

      ul {
          border: none;
          width: 70vw;
        .activeLi {
            background-color: $pop-color;
            color: #FFFF;
            border: none;
            border: 1px solid black;
            a {
                color: #FFF;
            }
        }
        li {
            background-color: #ffff;
            padding: 0rem;
            @extend %center;
            border: 1px solid black;
            border-collapse: collapse;
            a {
                padding: 1rem;
                text-decoration: none;
                color: black;
            }
        }

      }

    }

    .scheduleContainerDropdown {
      @media screen and (min-width: 1000px) {
        display: none;
      }
      width: 60%;
      @extend %center;
      position: relative;
      left: 20%;
      font-size: 2rem;

      .dropdown-content {
         position: relative;
         padding-bottom: 0;
      }
      .dropdown .select-container {
          right: 25%;
      }
    }
    table {
        margin-top: 5%;
        margin-bottom: 4%;
        background-color: $background-color;
        width: 80vw;
        position: relative;
        table-layout: fixed;
        right: 15%;
        border-style: hidden;
        th, tr {
            //font-family: $font-fam;
            font-size: 20px;
            word-wrap: break-word;
            font-style: normal;
            font-weight: normal;
            color: $small-text-color;
            //border: 3px solid black;

            @media screen and (max-width: 650px) {
                font-size: 14px;
            }
        }
        td, th {
            border: 1px solid black;
        }

        tr:first-child {
            &:hover {
                background-color: $small-text-color;
            }
            background-color: $small-text-color;
            th {
                color: #fff;
            }

        }
        tr:hover {background-color: #f5f5f5;}
    }

    .keynoteContainer {
        .row {
            margin-top: 3rem;
            margin-bottom: 5rem;
            display: flex;
            .keynoteColumn {
                h3 {
                    padding-bottom: 2rem;
                }
                flex: 50%;
                padding-right: 20px;
                margin: 0;
                img {
                    width: 55%;
                } 
                p {
                    font-size: $content-size - 0.25rem;
                    margin: auto;
                    margin-top: 2rem;
                    padding: none;
                    width: 55%;
                    @extend %center;
                }
            }
        }
    
       // padding-bottom: 10rem;
    }
}

.marginFormat {
    background-color: $background-color;
    height:200px;
    width:100%;
}

footer {
    background-color: $small-text-color;
    color: #fff;
    margin-bottom: 0;
    width: 100%;
    height: 20rem;

    .copyright {
        position: relative;
        float: right;
        left: 15rem;
        top: 18rem;
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
            top: 90%;
            display: none;
        }
    }

    .column1 {
        float: left;
        margin: 0 1%;
        width: 31%;
        padding-right: 10%;
        margin-top: 02%;
        margin-bottom: 0;
        position: relative;
        left: 8%;
        @media screen and (max-width: 600px) {
            width: 45%;

        }
        img {
            position: relative;
            right: 1.5vw;
            width: 22vw;
            @media screen and (max-width: 600px) {
                width: 33vw;
            }
        }
        p {
            margin-top: 1.5rem;
        }
    }

    .column2 {
        float: right;
        margin: 3% 1%;
        width: 11%;
        margin-right: 10%;
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
            margin-left: 15%;
        }
        ul {
            margin-top: 1.5rem;
            padding: 0;
            list-style-type: none;
            color: $background-color;
            font-size: 1rem;
            padding-left: 0.5rem;
            a {
                text-decoration: none;
                color: $background-color;
            }
        }
    }

    .column3 {
        @media screen and (max-width: 600px) {
            display: none;
        }
        float: left;
        margin: 3% 1%;
        width: 11%;
        margin-bottom: 0;

        margin-left: 4%;
        ul {
            margin-top: 1.5rem;
            padding: 0;
            list-style-type: none;
            color: $background-color;
            font-size: 1rem;
        }
    }
}


#faq {
    width: 100%;
    h2 {
        font-size: $section-header-size;
        padding-bottom: 1.5rem;
        width: 100%;
        @extend %center;
    }
    background-color: $background-color;
    margin-bottom: none;
    .faq-container {
        @media screen and (max-width: 1000px) {
            display: none;
        }
        width: 60%;
        background-color: $background-color;
        position: relative;
        left: 20%;
        font-size: 1rem;

        ul {
            border: none;
            margin-bottom: 3rem;
            width: 60vw;
            position: relative;
            left: 6%;
            .activeLi {
                background-color: $pop-color;
                a {
                    color: #FFFF !important;
                }
            }
            li {
                @extend %center;
                border: 1px solid black;
                border-collapse: collapse;
                background-color: #fff;
                a {
                    padding: 0rem 5.5rem;
                    text-decoration: none;
                    color: black;
                    font-size: 1.89rem;
                }
            }

        }
    }
    .faq-dropdown {
        @media screen and (min-width: 1000px) {
          display: none;
        }
        @extend %center;
        position: relative;
        width: 80vw;
        font-size: 2rem;

        .dropdown-content {
           position: relative;
           padding-bottom: 0;
        }
        .dropdown {
            margin-bottom: 3%;
            position: relative;
        }

        .dropdown select {
            right: 14vw;
        }
    }

    .faq-holder {
        // background-color: #fff;
        width: 80vw;
        position: relative;
        @media screen and (max-width: 1000px) {
            left: 10vw;
        }


        right: 10vw;
        // border: 2px solid black;
        border-collapse: collapse;
        h3 {
            color: #193d56;
            margin: 0 0 0 0px;
            text-align: left;
            padding-top: 20px;
            padding-left: 10px;
            font-size: $subsection-size;
        }

        h3:after {
            background-color: #D0D0D0;
            content: '';
            display: block;
            height: 1px;
            margin-top: 8px;
            width: 100%;
        }

        p {
            font-size: $content-size;
            line-height: 24px;
            margin: 4px 0;
            width: 100%;
            padding: 10px;
            margin-bottom: 0;
            text-align: left;
        }
    }
}


.beating-heart {
    @media screen and (min-width: 800px) {
        position: absolute;
        top: 40rem;
        left: 85rem;
        -webkit-animation: heart-beat 1.5s infinite;
        animation: heart-beat 1.5s infinite;
        width: 15rem;
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}

#applySection {
    background-color: $background-color;
    margin-bottom: 0;
    padding-top: 5%;
    .top {
        margin-top: 1rem;
    }
    h2 {
        color: $large-text-color;
        padding-bottom: 1rem;
        font-size: $section-header-size;
        @extend %center;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    h3 {
        color: $large-text-color;
        margin-left: 10%;
        margin-bottom: 1.5%;
        font-weight: bold;
        padding-left: 0;
        font-size: $subsection-size;
        margin-top: 2.5rem;
    }

    p {
        color: $small-text-color;
        font-size: $content-size;
        width: 80%;
        position:relative;
        left: 10%;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-bottom: 2rem;
    }
}

@-o-keyframes heart-beat {
    0% {
        transform: scale(.8);
        opacity: .95;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.75);
        opacity: .85;
    }
}

@-moz-keyframes heart-beat {
    0% {
        transform: scale(.8);
        opacity: .95;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.75);
        opacity: .85;
    }
}

@-webkit-keyframes heart-beat {
    0% {
        transform: scale(.8);
        opacity: .95;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.75);
        opacity: .85;
    }
}

@keyframes heart-beat {
    0% {
        transform: scale(.8);
        opacity: .95;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.75);
        opacity: .85;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .3em;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}


.sponsor-section {
    font-size: $section-header-size;
    font-family: $font-fam;
    margin-top: 3rem;
    h2 {
        margin: auto;
        @extend %center;
    }

    .sponsor {
        display: inline-block;
        margin: 14px;
        transition: .2s opacity ease-out;
    }
}

