#header .description, #header .applyButton, .navbar .applyButton, .navbar-default .applyButton, #basicInfo #infoContainer p, #basicInfo #infoContainer, #aboutSection h2, #challenges .track-container, #challenges .track-info, #logistics .scheduleContainer, #logistics .scheduleContainer ul li, #logistics .scheduleContainerDropdown, #logistics .keynoteContainer .row .keynoteColumn p, #faq h2, #faq .faq-container ul li, #faq .faq-dropdown, #applySection h2, .sponsor-section h2 {
  text-align: center;
  vertical-align: middle; }

@font-face {
  font-family: custom;
  src: url(../assets/Raleway-Light.ttf); }
html, body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: custom;
  font-size: 1vmax; }

.jumbotron {
  background-color: #efefef;
  color: #042449;
  font-size: 30rem;
  margin-bottom: 0; }

#side-info {
  display: none;
  background-color: #042449;
  color: white;
  position: fixed;
  z-index: 3;
  height: 300rem;
  left: 25vw;
  top: 0%;
  width: 75vw;
  opacity: 0.85;
  padding: 0; }
  #side-info ul {
    padding: 0; }
  #side-info ul li {
    position: relative;
    top: 10%;
    font-size: 4rem;
    list-style-type: none;
    padding: 1rem 5rem;
    margin: 0;
    cursor: pointer; }
    #side-info ul li:hover {
      background-color: #fff;
      color: #193f55; }
  #side-info .apply {
    color: #BF4D42; }
    #side-info .apply a {
      text-decoration: none;
      color: #BF4D42; }

#header {
  background-color: #efefef;
  background-image: url("../assets/snow_day_header_wide.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 65rem;
  width: 100%;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    #header {
      background-image: none; } }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    #header {
      height: 180vh; } }
  @media screen and (max-width: 600px) {
    #header {
      margin-bottom: 30vh; } }
  @media screen and (width: 320px) and (height: 568px) {
    #header {
      margin-bottom: 100px; } }
  @media screen and (width: 414px) and (height: 736px) {
    #header {
      margin-bottom: 100px; } }
  @media screen and (width: 375px) and (height: 667px) {
    #header {
      margin-bottom: 100px; } }
  @media screen and (width: 411px) and (height: 731px) {
    #header {
      margin-bottom: 100px; } }
  @media screen and (width: 360px) and (height: 640px) {
    #header {
      margin-bottom: 100px; } }
  #header .description {
    font-size: 1.5rem;
    color: #BF4D42;
    position: relative;
    top: 25rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 768px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 65%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 360px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 80%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 375px) and (height: 812px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 70%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 414px) and (height: 736px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 90%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 375px) and (height: 667px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 90%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 320px) and (height: 568px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 90%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 411px) and (height: 823px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 80%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 411px) and (height: 731px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 90%;
        z-index: 2;
        width: 40rem; } }
    @media screen and (width: 360px) and (height: 640px) {
      #header .description {
        font-size: 1.85rem;
        color: #BF4D42;
        position: relative;
        top: 90%;
        z-index: 2;
        width: 40rem; } }
  #header .mobileBG {
    display: none; }
    @media screen and (max-width: 768px) {
      #header .mobileBG {
        display: block;
        z-index: 1;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0; } }
  #header .longButton a h2 {
    font-size: 1.5rem; }
  #header .applyButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 35rem;
    padding: 0.5rem;
    background-color: #efefef;
    width: 225px;
    vertical-align: center;
    border-radius: 5%;
    transform: scale(0.85);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    #header .applyButton a {
      text-decoration: none; }
      #header .applyButton a h2 {
        background-color: #efefef;
        color: black;
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    #header .applyButton:hover {
      text-decoration: none;
      transform: scale(1);
      background-color: #BF4D42;
      color: #FFFF;
      cursor: pointer; }
      #header .applyButton:hover h2 {
        background-color: #BF4D42;
        color: #ffff; }
    @media screen and (max-width: 768px) {
      #header .applyButton {
        top: 110rem;
        z-index: 2;
        width: 20rem; } }
    @media screen and (width: 360px) and (height: 740px) {
      #header .applyButton {
        top: 56rem;
        z-index: 2;
        width: 20rem; } }
    @media screen and (width: 375px) and (height: 812px) {
      #header .applyButton {
        top: 52rem;
        z-index: 2; } }
    @media screen and (width: 414px) and (height: 736px) {
      #header .applyButton {
        top: 64rem;
        z-index: 2; } }
    @media screen and (width: 375px) and (height: 667px) {
      #header .applyButton {
        top: 64rem;
        z-index: 2; } }
    @media screen and (width: 320px) and (height: 568px) {
      #header .applyButton {
        top: 64rem;
        z-index: 2;
        width: 20rem; } }
    @media screen and (width: 411px) and (height: 823px) {
      #header .applyButton {
        top: 58rem;
        z-index: 2;
        width: 20rem; } }
    @media screen and (width: 411px) and (height: 731px) {
      #header .applyButton {
        top: 64rem;
        z-index: 2;
        width: 20rem; } }
    @media screen and (width: 360px) and (height: 640px) {
      #header .applyButton {
        top: 64rem;
        z-index: 2;
        width: 20rem; } }

#ham-container {
  z-index: 5;
  position: relative;
  right: 5rem;
  display: inline-block;
  cursor: pointer; }
  @media screen and (min-width: 800px) {
    #ham-container {
      display: none; } }
  #ham-container .bar1, #ham-container .bar2, #ham-container .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  z-index: 4;
  background-color: white !important; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white !important; }

#slider-container {
  position: relative;
  left: 21.5rem;
  position: fixed;
  top: 1.5rem; }
  @media screen and (max-width: 800px) {
    #slider-container {
      display: none; } }
  #slider-container ul a {
    border: 2px solid #193f55;
    border-radius: 10px;
    margin-left: 7rem;
    padding: 8px;
    width: 2.5px;
    height: 2.5px;
    display: inline-block; }
    #slider-container ul a .bubble {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      padding: 1rem;
      float: left;
      text-align: center;
      position: relative;
      font-size: 1.25rem; }
      #slider-container ul a .bubble #homeBubP {
        position: relative;
        right: 17.4rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #aboutBubP {
        position: relative;
        right: 38.7rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #tracksBubP {
        position: relative;
        right: 41.7rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #logBubP {
        position: relative;
        right: 44.7rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #applyBubP {
        position: relative;
        right: 49.2rem;
        bottom: 0.5rem; }
    #slider-container ul a div {
      display: inline-block;
      position: relative;
      left: 15rem;
      color: #193f55;
      text-decoration: none;
      top: 0.5rem; }
  #slider-container ul .filled {
    background-color: #193f55; }
  #slider-container ul #moose-mark {
    border: 3px solid #193f55;
    z-index: 4;
    width: 0;
    visibility: hidden;
    display: inline;
    position: fixed;
    top: 0.5rem;
    left: 11rem; }

.navbar, .navbar-default {
  z-index: 3;
  background-color: #FFFF;
  width: 100vw;
  position: fixed;
  height: 6rem; }
  .navbar .nav-item, .navbar-default .nav-item {
    display: block;
    padding: 0 .5rem;
    position: relative;
    cursor: pointer; }
    .navbar .nav-item a, .navbar-default .nav-item a {
      color: #193f55;
      font-size: 1.5rem;
      box-shadow: 0px 0.5rem;
      transition: color .1s ease-out;
      z-index: 1; }
      .navbar .nav-item a:hover, .navbar .nav-item a:focus, .navbar-default .nav-item a:hover, .navbar-default .nav-item a:focus {
        background-color: #193f55;
        color: #FFFF;
        box-shadow: 0px 0.5rem #193f55; }
        .navbar .nav-item a:hover:after, .navbar .nav-item a:focus:after, .navbar-default .nav-item a:hover:after, .navbar-default .nav-item a:focus:after {
          transform: scaleY(1); }
      .navbar .nav-item a:after, .navbar-default .nav-item a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: red;
        z-index: -1;
        transition: transform 0.3s; }
  .navbar .navbar-toggler-icon, .navbar-default .navbar-toggler-icon {
    background-color: #e2d8d6;
    border-radius: 0.2rem;
    border: 1px solid #BF4D42;
    color: #BF4D42; }
  .navbar .navbar-brand, .navbar-default .navbar-brand {
    color: #BF4D42; }
  .navbar #navbar-logo, .navbar-default #navbar-logo {
    background-image: url("../assets/logos/medhacks-without-cross.png");
    width: 25rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat; }
  .navbar .applyButton, .navbar-default .applyButton {
    margin-right: 5.5rem;
    padding: 0.5rem;
    color: #FFFF;
    background-color: #BF4D42;
    width: 15rem;
    vertical-align: center;
    border-radius: 0.5rem;
    transform: scale(0.85);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    @media screen and (max-width: 800px) {
      .navbar .applyButton, .navbar-default .applyButton {
        display: none; } }
    .navbar .applyButton a, .navbar-default .applyButton a {
      text-decoration: none; }
      .navbar .applyButton a h2, .navbar-default .applyButton a h2 {
        background-color: #BF4D42;
        color: #ffff;
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        vertical-align: center; }
    .navbar .applyButton:hover, .navbar-default .applyButton:hover {
      transform: scale(1);
      background-color: #efefef;
      color: black;
      cursor: pointer; }
      .navbar .applyButton:hover h2, .navbar-default .applyButton:hover h2 {
        background-color: #efefef;
        color: black;
        vertical-align: center; }

.header-text-actions {
  margin-top: 24px;
  text-align: center; }

.header-text-action {
  border: 3px solid #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-right: 18px;
  padding: 14px 30px;
  transform: scale(0.925);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out; }

#basicInfo {
  display: flex;
  background-color: #efefef; }
  #basicInfo h2 {
    color: #042449; }
  #basicInfo #infoContainer {
    display: flex;
    width: 100%;
    height: 20rem;
    margin: 0% 0%;
    background-color: #193f55;
    position: relative; }
    #basicInfo #infoContainer p {
      margin: auto;
      width: 80%;
      color: #ffff;
      font-size: 1.85rem;
      line-height: 3rem; }

#aboutSection {
  background-color: #efefef;
  margin-bottom: 0;
  padding-top: 5%;
  overflow: hidden; }
  #aboutSection .top {
    margin-top: 1rem; }
  #aboutSection h2 {
    color: #042449;
    padding-bottom: 2rem;
    font-size: 3rem; }
  #aboutSection h3 {
    color: #042449;
    margin-left: 10%;
    margin-bottom: 1.5%;
    font-weight: bold;
    padding-left: 0;
    font-size: 2rem;
    margin-top: 2.5rem; }
  #aboutSection p {
    color: #193f55;
    font-size: 1.5rem;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    margin-right: 0;
    padding-bottom: 2rem; }
  #aboutSection #melvin-text {
    margin: 0% 10vw;
    display: inline; }
  #aboutSection img {
    width: 22.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    float: right; }

#challenges {
  display: block;
  background-color: #efefef; }
  #challenges p {
    margin: 0% 10%;
    padding-top: 1rem;
    color: #193f55;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    overflow: auto;
    margin-bottom: 5%; }
  #challenges h2 {
    color: #042449;
    padding-bottom: 4rem;
    font-size: 3rem; }
  #challenges .challengeRow {
    display: flex; }
    #challenges .challengeRow .challengeColumn {
      flex: 30%; }
      #challenges .challengeRow .challengeColumn img {
        width: 75%;
        margin: none;
        float: right;
        position: relative;
        z-index: 0; }
      #challenges .challengeRow .challengeColumn p {
        margin: 0% 10%;
        padding-top: 1rem;
        color: #193f55;
        font-size: 1.5rem;
        text-align: center;
        display: block;
        overflow: auto; }
  #challenges .track-container {
    float: none;
    margin-left: 10%;
    display: grid;
    width: 80%;
    height: 50%;
    grid-template-areas: "track1 track2 track3";
    -webkit-grid-column-gap: 3rem;
    -moz-grid-column-gap: 3rem;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 5%;
    background-color: #efefef;
    font-family: custom, sans-serif;
    color: #193f55; }
    #challenges .track-container #track1 {
      height: 20rem;
      width: 25rem;
      background-color: #fff;
      grid-area: track1; }
      #challenges .track-container #track1 h2 {
        font-size: 2rem;
        color: #193f55; }
      #challenges .track-container #track1 .imgrow {
        position: relative;
        bottom: 2rem;
        display: flex; }
        #challenges .track-container #track1 .imgrow img {
          padding: 0.5rem;
          width: 40%;
          height: 40%;
          flex: 40%; }
    #challenges .track-container #track2 {
      background-color: #fff;
      height: 20rem;
      width: 25rem;
      grid-area: track2; }
      #challenges .track-container #track2 h2 {
        font-size: 2rem;
        color: #193f55; }
      #challenges .track-container #track2 img {
        width: 18.75vw;
        height: 4.125vw;
        margin-top: 2rem; }
    #challenges .track-container #track3 {
      background-color: #fff;
      grid-area: track3;
      height: 20rem;
      width: 25rem; }
      #challenges .track-container #track3 h2 {
        font-size: 2rem; }
      #challenges .track-container #track3 img {
        width: 16.94vw;
        height: 4.88vw; }
    #challenges .track-container .track {
      border: 3px solid #193f55;
      border-radius: 3rem;
      padding: 3rem; }
      #challenges .track-container .track img {
        width: 10rem;
        height: 10rem; }
      #challenges .track-container .track:hover {
        border-color: #BF4D42;
        cursor: pointer; }
  #challenges .black-overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */ }
  #challenges .track-info {
    z-index: 4;
    background-color: #ffff;
    width: 80%;
    height: 80%;
    display: none;
    position: fixed;
    box-sizing: border-box;
    background-color: #efefef;
    top: 10%;
    font-family: custom, sans-serif;
    color: #193f55;
    left: 10%; }
    #challenges .track-info .close {
      float: right;
      margin: 1rem;
      font-size: 36px;
      font-weight: bold; }
    #challenges .track-info ul {
      list-style-position: inside; }
    #challenges .track-info .track-row {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      right: 1.5%; }
      #challenges .track-info .track-row .track-column h1 {
        padding: 3rem 0 2rem  0;
        font-size: 2.25rem; }
      #challenges .track-info .track-row .track-column iframe {
        margin: 2rem;
        width: 100%; }
      #challenges .track-info .track-row .track-column h2 {
        font-size: 2rem;
        margin: 0;
        padding: 0.5rem; }
      #challenges .track-info .track-row .track-column p {
        font-size: 1.05rem; }

#logistics {
  margin-top: 75px;
  background-color: #efefef; }
  #logistics h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem; }
    @media screen and (max-width: 600px) {
      #logistics h2 {
        margin-top: 100px; } }
  #logistics p {
    width: 60%;
    margin: 0% 21%;
    padding-top: 1rem;
    color: #193f55; }
  #logistics .scheduleContainer {
    width: 59.8%;
    position: relative;
    left: 20%;
    font-size: 1.89rem;
    padding-bottom: 0.1rem; }
    @media screen and (max-width: 1000px) {
      #logistics .scheduleContainer {
        display: none; } }
    #logistics .scheduleContainer ul {
      border: none;
      width: 70vw; }
      #logistics .scheduleContainer ul .activeLi {
        background-color: #BF4D42;
        color: #FFFF;
        border: none;
        border: 1px solid black; }
        #logistics .scheduleContainer ul .activeLi a {
          color: #FFF; }
      #logistics .scheduleContainer ul li {
        background-color: #ffff;
        padding: 0rem;
        border: 1px solid black;
        border-collapse: collapse; }
        #logistics .scheduleContainer ul li a {
          padding: 1rem;
          text-decoration: none;
          color: black; }
  #logistics .scheduleContainerDropdown {
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 2rem; }
    @media screen and (min-width: 1000px) {
      #logistics .scheduleContainerDropdown {
        display: none; } }
    #logistics .scheduleContainerDropdown .dropdown-content {
      position: relative;
      padding-bottom: 0; }
    #logistics .scheduleContainerDropdown .dropdown .select-container {
      right: 25%; }
  #logistics table {
    margin-top: 5%;
    margin-bottom: 4%;
    background-color: #efefef;
    width: 80vw;
    position: relative;
    table-layout: fixed;
    right: 15%;
    border-style: hidden; }
    #logistics table th, #logistics table tr {
      font-size: 20px;
      word-wrap: break-word;
      font-style: normal;
      font-weight: normal;
      color: #193f55; }
      @media screen and (max-width: 650px) {
        #logistics table th, #logistics table tr {
          font-size: 14px; } }
    #logistics table td, #logistics table th {
      border: 1px solid black; }
    #logistics table tr:first-child {
      background-color: #193f55; }
      #logistics table tr:first-child:hover {
        background-color: #193f55; }
      #logistics table tr:first-child th {
        color: #fff; }
    #logistics table tr:hover {
      background-color: #f5f5f5; }
  #logistics .keynoteContainer .row {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex; }
    #logistics .keynoteContainer .row .keynoteColumn {
      flex: 50%;
      padding-right: 20px;
      margin: 0; }
      #logistics .keynoteContainer .row .keynoteColumn h3 {
        padding-bottom: 2rem; }
      #logistics .keynoteContainer .row .keynoteColumn img {
        width: 55%; }
      #logistics .keynoteContainer .row .keynoteColumn p {
        font-size: 1.25rem;
        margin: auto;
        margin-top: 2rem;
        padding: none;
        width: 55%; }

.marginFormat {
  background-color: #efefef;
  height: 200px;
  width: 100%; }

footer {
  background-color: #193f55;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  height: 20rem; }
  footer .copyright {
    position: relative;
    float: right;
    left: 15rem;
    top: 18rem;
    margin-bottom: 0; }
    @media screen and (max-width: 600px) {
      footer .copyright {
        top: 90%;
        display: none; } }
  footer .column1 {
    float: left;
    margin: 0 1%;
    width: 31%;
    padding-right: 10%;
    margin-top: 02%;
    margin-bottom: 0;
    position: relative;
    left: 8%; }
    @media screen and (max-width: 600px) {
      footer .column1 {
        width: 45%; } }
    footer .column1 img {
      position: relative;
      right: 1.5vw;
      width: 22vw; }
      @media screen and (max-width: 600px) {
        footer .column1 img {
          width: 33vw; } }
    footer .column1 p {
      margin-top: 1.5rem; }
  footer .column2 {
    float: right;
    margin: 3% 1%;
    width: 11%;
    margin-right: 10%;
    margin-bottom: 0; }
    @media screen and (max-width: 600px) {
      footer .column2 {
        margin-left: 15%; } }
    footer .column2 ul {
      margin-top: 1.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem;
      padding-left: 0.5rem; }
      footer .column2 ul a {
        text-decoration: none;
        color: #efefef; }
  footer .column3 {
    float: left;
    margin: 3% 1%;
    width: 11%;
    margin-bottom: 0;
    margin-left: 4%; }
    @media screen and (max-width: 600px) {
      footer .column3 {
        display: none; } }
    footer .column3 ul {
      margin-top: 1.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem; }

#faq {
  width: 100%;
  background-color: #efefef;
  margin-bottom: none; }
  #faq h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    width: 100%; }
  #faq .faq-container {
    width: 60%;
    background-color: #efefef;
    position: relative;
    left: 20%;
    font-size: 1rem; }
    @media screen and (max-width: 1000px) {
      #faq .faq-container {
        display: none; } }
    #faq .faq-container ul {
      border: none;
      margin-bottom: 3rem;
      width: 60vw;
      position: relative;
      left: 6%; }
      #faq .faq-container ul .activeLi {
        background-color: #BF4D42; }
        #faq .faq-container ul .activeLi a {
          color: #FFFF !important; }
      #faq .faq-container ul li {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #fff; }
        #faq .faq-container ul li a {
          padding: 0rem 5.5rem;
          text-decoration: none;
          color: black;
          font-size: 1.89rem; }
  #faq .faq-dropdown {
    position: relative;
    width: 80vw;
    font-size: 2rem; }
    @media screen and (min-width: 1000px) {
      #faq .faq-dropdown {
        display: none; } }
    #faq .faq-dropdown .dropdown-content {
      position: relative;
      padding-bottom: 0; }
    #faq .faq-dropdown .dropdown {
      margin-bottom: 3%;
      position: relative; }
    #faq .faq-dropdown .dropdown select {
      right: 14vw; }
  #faq .faq-holder {
    width: 80vw;
    position: relative;
    right: 10vw;
    border-collapse: collapse; }
    @media screen and (max-width: 1000px) {
      #faq .faq-holder {
        left: 10vw; } }
    #faq .faq-holder h3 {
      color: #193d56;
      margin: 0 0 0 0px;
      text-align: left;
      padding-top: 20px;
      padding-left: 10px;
      font-size: 2rem; }
    #faq .faq-holder h3:after {
      background-color: #D0D0D0;
      content: '';
      display: block;
      height: 1px;
      margin-top: 8px;
      width: 100%; }
    #faq .faq-holder p {
      font-size: 1.5rem;
      line-height: 24px;
      margin: 4px 0;
      width: 100%;
      padding: 10px;
      margin-bottom: 0;
      text-align: left; }

@media screen and (min-width: 800px) {
  .beating-heart {
    position: absolute;
    top: 40rem;
    left: 85rem;
    -webkit-animation: heart-beat 1.5s infinite;
    animation: heart-beat 1.5s infinite;
    width: 15rem; } }
@media screen and (max-width: 800px) {
  .beating-heart {
    display: none; } }

#applySection {
  background-color: #efefef;
  margin-bottom: 0;
  padding-top: 5%; }
  #applySection .top {
    margin-top: 1rem; }
  #applySection h2 {
    color: #042449;
    padding-bottom: 1rem;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; }
  #applySection h3 {
    color: #042449;
    margin-left: 10%;
    margin-bottom: 1.5%;
    font-weight: bold;
    padding-left: 0;
    font-size: 2rem;
    margin-top: 2.5rem; }
  #applySection p {
    color: #193f55;
    font-size: 1.5rem;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    margin-right: 0;
    padding-bottom: 2rem; }

@-o-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@-moz-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@-webkit-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em 2em 1em 1em;
  font-size: 1em; }

.select-container {
  position: relative;
  display: inline; }

.select-container:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none; }

.select-container:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: .3em;
  right: .75em;
  border-top: 8px solid black;
  opacity: 0.5; }

select::-ms-expand {
  display: none; }

.sponsor-section {
  font-size: 3rem;
  font-family: custom, sans-serif;
  margin-top: 3rem; }
  .sponsor-section h2 {
    margin: auto; }
  .sponsor-section .sponsor {
    display: inline-block;
    margin: 14px;
    transition: .2s opacity ease-out; }

/*# sourceMappingURL=main.css.map */
