nav {
  z-index: 2;
  position: fixed;
  top: 1%;
  left: 5%;
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a .logo {
    @media screen and (max-width: 1000px) {
      display: none;
    }
    align-self: center;
    width: 30vw;
  }

  .navButton {
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:hover {
      color: $color-green;
    }
  }

  #sliderContainer {
    @media screen and (max-width: 1000px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    .buttonContainer {
      display: flex;
      flex-direction: row;
    }
    .bubble {
      border: 2px solid Black;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 8px;
      width: 2.5px;
      height: 2.5px;
      display: inline-block;

      div {
        display: inline-block;
        position: relative;
        left: 15rem;
        color: Black;
        text-decoration: none;
        top: 0.5rem;
      }
    }
    .filled {
      background-color: black;
    }
  }

  #bar {
    flex: 1;
    margin-top: 4rem;
    border: 3px black;
    border-style: dotted;
    height: 5px;
    width: 100px;
    position: absolute;
    bottom: 45%;
    margin-left: 2%;
  }
}

#side-info {
  display: none;
  height: 100vh;
  width: 50vw;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: black;
  color: white;
  padding-left: 10vw;
  li {
    list-style-type: none;
  }
}

#ham-container {
  @media screen and (min-width: 1000px) {
    display: none;
  }
  z-index: 4;
  position: absolute;
  left: 0%;
  top: 4%;
  align-self: flex-end;
  display: inline-block;
  cursor: pointer;
  // background-color: white;
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    z-index: 4;
    background-color: white !important;
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white !important;
  }
}
