nav {
  position: fixed;
  top: 15%;
  left: 90%;

  .navButton {
    cursor: pointer;
    margin-top: 4rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #sliderContainer {
    display: flex;
    flex-direction: row;
    .bubble {
      border: 2px solid Black;
      border-radius: 10px;
      margin-left: 1rem;
      padding: 8px;
      width: 2.5px;
      height: 2.5px;
      display: inline-block;

      div {
        display: inline-block;
        position: relative;
        left: 15rem;
        color: Black;
        text-decoration: none;
        top: 0.5rem;
      }
    }
    .filled {
      background-color: Black;
    }
  }

  #bar {
    margin-top: 4rem;
    border: solid 3px black;
    height: 100px;
    width: 5px;
    position: absolute;
    right: 30%;
  }
}
