nav {
  z-index: 2;
  position: fixed;
  top: 0%;
  left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    align-self: center;
    width: 30%;
  }

  .navButton {
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #sliderContainer {
    display: flex;
    flex-direction: column;
    .buttonContainer {
      display: flex;
      flex-direction: row;
    }
    .bubble {
      border: 2px solid Black;
      border-radius: 10px;
      margin-left: 1rem;
      padding: 8px;
      width: 2.5px;
      height: 2.5px;
      display: inline-block;

      div {
        display: inline-block;
        position: relative;
        left: 15rem;
        color: Black;
        text-decoration: none;
        top: 0.5rem;
      }
    }
    .filled {
      background-color: Black;
    }
  }

  #bar {
    margin-top: 4rem;
    border: solid 3px black;
    height: 5px;
    width: 100px;
    position: absolute;
    bottom: 45%;
    margin-left: 2%;
  }
}
