.rotateIn {
  @media screen and (max-width: 1000px) {
    display: none;
  }
  flex: 1;
  width: 30vw;
  transform: rotate(0deg);
  transform-origin: 110% 50%;

  img {
    padding-left: 6vw;
    width: 30vw;
  }
}

.leftRotate {
  transform-origin: -10% 50%;
  margin-left: -10vw;

  img {
    padding-right: 6vw;
    width: 40vw;
  }
}

.rotateRight {
  //margin-right: 15vw;

  img {
    width: 30vw;
  }
}

.aboutRotate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    flex: 0.4;
  }
  div {
    @media screen and (min-width: 1000px) {
      flex: 0.6;
    }
  }
  .rotateIn {
    @media screen and (max-width: 1000px) {
      display: none;
    }
    flex: 0.4;
  }
}
