@import "mixins.scss";
@import "navbar.scss";

// main sass file where everything will eventuall end up
// put big variable names for colors and what not up her for ease of view

$text-color: white;
$background-color: #304B78;
$section-header-color: #392C5F;

$section-header-size: 3rem;
$subsection-header-size: 2.5rem;
$content-size: 1rem;

$margin-size: 5%;


body {
   background-color: $background-color; 
   color: $text-color;
}

#aboutSection {
    margin-left: $margin-size;
    width: 80%;
    font-size: $content-size;
}

#trackSection {
	margin-left: $margin-size;
    width: 80%;
    font-size: $content-size;
}

#logisticsSection {
	margin-left: $margin-size;
    width: 80%;
    font-size: $content-size;
}

#faqSection {
	margin-left: $margin-size;
    width: 80%;
    font-size: $content-size;
}

.header {
    font-size: $section-header-size;
    @include center;
    color: $section-header-color;
}

.subHeader {
    font-size: $subsection-header-size;
}










