@import "./mixins.scss";
@import "./navbar.scss";
@import "./rotateImage.scss";

// main sass file where everything will eventually end up
// put big variable names for colors and what not up her for ease of view
$text-color: white;
$background-color-blue: #304b78;
$background-color-purple: #392c5f;

$about-text-color: #dbb13b;
$faq-text-color: #57bc8b;
$apply-text-color: #dbb13b;

$section-header-size: 3rem;
$subsection-header-size: 2.5rem;
$content-size: 1rem;

$margin-size: 5%;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-image: none;
  // linear-gradient(
  //   $background-color-blue,
  //   $background-color-purple
  // );
  color: $text-color;
  background-color: $background-color-blue;
}

#titleSection {
  margin: $margin-size;
  .flexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      width: 50%;
    }
    p {
      flex: 50%;
    }
    img {
      flex: 50%;
      align-self: center;
      width: 15%;
    }
  }
}

#aboutSection {
  color: $about-text-color;
  margin-left: $margin-size;
  width: 100%;
  font-size: $content-size;
}

#trackSection {
  margin-left: $margin-size;
  width: 90%;
  font-size: $content-size;
}

#logisticsSection {
  margin-left: $margin-size;
  width: 90%;
  font-size: $content-size;
}

#faqSection {
  margin-left: $margin-size;
  width: 90%;
  font-size: $content-size;
  color: $faq-text-color;

  .faq-container .nav-tabs li {
    margin: 1rem;
  }
}

#applyingSection {
  color: $apply-text-color;
  width: 90%;
  margin-left: $margin-size;
}

.header {
  font-size: $section-header-size;
  color: white;
}

.subHeader {
  font-size: $subsection-header-size;
}

.scheduleContainer {
  @media screen and (max-width: 1000px) {
    display: none;
  }
  width: 90%;
  @include center;
  position: relative;
  left: 10%;
  font-size: 1.89rem;
  padding-bottom: 0.1rem;

  ul {
    border: none;
    width: 90vw;
    .activeLi {
      background-color: none; //$background-color-blue;
      //color: #;
      border: none;
      //border: 1px ;
      a {
        //color: ;
      }
    }
    li {
      //background-color: #;
      padding: 0rem;
      @include center;
      //border: 1px ;
      border-collapse: collapse;
      a {
        padding: 1rem;
        text-decoration: none;
        //color: ;
      }
    }
  }
}

table {
  margin-top: 5%;
  margin-bottom: 4%;
  background-color: none; //$background-color-blue;
  width: 90vw;
  position: relative;
  table-layout: fixed;
  right: 10%;
  border-style: hidden;
  th,
  tr {
    //font-family: $font-fam;
    font-size: 20px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    color: $text-color;
    //border: 3px ;

    @media screen and (max-width: 650px) {
      font-size: 14px;
    }
  }
}

.marginFormat {
  height: 100px;
  width: 100%;
}

.parallax-window {
    z-index: -100;
    position: fixed;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    top: 0px;
    left: 0px;
    height: 5000px;
    min-width: 100vw;
    background: transparent;
}
