@mixin buttonAnimate($color1, $color2) {
	background-color: $color1;
	color: $color2;
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
    transform:scale(0.85);
    &:hover {
    	background-color: $color2;
    	color: $color1;
    	transform: scale(1);
    }
}

@mixin center {
    text-align: center;
    vertical-align: middle;
}

