nav {
	position: fixed;
	top: 15%;
	left: 90%;

	.navButton {
		cursor: pointer;
		margin-top: 4rem;
	}

	#sliderContainer {
		display: flex;
		flex-direction: row;
	}

	#bar {
		margin-top: 4rem;
		border: solid 3px black;
		height: 100px;
		width: 5px;
	}
}