@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Sancreek&display=swap');

body {
  margin: 0;
  font-family: 'Sancreek', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@layer base {
  html {
    font-family: 'Mulish', sans-serif;
  }
}

.list-group-item .border-0 {
  list-style-type: disc !important;
  padding-left: 1em;
}

.list-group-item::before {
  content: "•";
  margin-right: 0.75rem;
}