#faqSection {
  margin-left: $margin-size;
  margin-right: $margin-size;
  font-size: $content-size;
  color: $faq-text-color;
  text-align: left;
  .nav {
    justify-content: space-around;
  }
  .faq-container .nav-tabs li {
    margin: 1rem;
  }
}
