/* This is the file we all should be editing */
html,
body {
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 4em;
    font-weight: 700;
}

@media(max-width:900px) {
    .text-vertical-center h1 {
        font-size: 2.5em;
    }
}

p {
    color: #193d56;
    margin: 0 0 16px;
    font-size: 16px;
}


hr.small {
    max-width: 100px;
}

/*
  NAVBAR FORMAT
*/

.header-navbar {
    background-color: #ffffff;
    box-shadow: 0 -5px 10px 4px rgba(0, 0, 0, 0);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /* Hack to prevent "dancing" on webkit/blink */
    -webkit-transform: translateZ(0);
}

.header-navbar-logo {
    background: url("../assets/logos/logo_dark_smaller.png") no-repeat;
    cursor: pointer;
    float: left;
    height: 60px;
    margin: 20px 40px;
    padding: 0;
    position: absolute;
    width: 300px;
    bottom: 0;
    content: '';
    display: block;
    transition: .4s opacity ease-out;
}


.header-navbar-items {
    float: right;
    list-style: none;
    margin: 0 10px;
}

.header-navbar-item {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    float: left;
}

.header-navbar-link {
    color: #193e53;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 8px 0;
    padding: 10px 14px 20px;
    position: relative;
    text-decoration: none;
    transition: color .1s ease-out;
}

.header-navbar-link:after {
    background-color: #193e53;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: height .1s ease-out;
    width: 100%;
    z-index: -1;
}

.header-navbar-link:hover,
.header-navbar-link:active,
.header-navbar-link:focus,
.header-navbar-link-active {
    color: #fff;
    text-decoration: none;
}

.header-navbar-link:hover:after,
.header-navbar-link:focus:after,
.header-navbar-link-active:after {
    height: 100%;
}

.header-navbar-scrolled {
    box-shadow: 0 -5px 10px 4px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, 0.95);
}

.header-navbar-scrolled .header-navbar-logo:after {
    opacity: 1;
}

.header-navbar-scrolled .header-navbar-link {
    color: #fff;
}

.header-navbar-scrolled .header-navbar-link:after {
    background-color: #fff;
}

.header-navbar-scrolled .header-navbar-link:hover,
.header-navbar-scrolled .header-navbar-link:focus {
    color: #fff;
}

@media only screen and (max-width: 836px) {
    .header-navbar {
        box-shadow: 0 -5px 10px 4px rgba(0, 0, 0, .5);
        background-color: rgba(255, 255, 255, 0.95);
    }
    .header-navbar-logo:after {
        opacity: 1;
    }
    .header-navbar-link {
        color: #193e53;
    }
    .header-navbar-link:after {
        background-color: #193e53;
    }
    .header-navbar-link:hover,
    .header-navbar-link:focus {
        color: #fff;
    }
}

@media all and (max-width: 950px) {
    .header-navbar-logo {
        background: url("../assets/logos/logo_dark_smaller.png") no-repeat;
        height: 45px;
        margin: 27px 40px;
        width: 225px;
    }
    .header-navbar-logo:after {
        background: url("../assets/logos/logo_dark_smaller.png") no-repeat;
    }
    .header-navbar-link {
        font-size: 16px;
        margin-top: 23px;
        padding: 8px 12px 16px;
    }
}


/*@media only screen and (max-device-width: 736px) {*/

@media only screen and (max-width: 836px) {
    .header-navbar-hamburger {
        cursor: pointer;
        float: right;
        height: 45px;
        margin: 27px 20px 27px 0;
        position: relative;
        width: 45px;
    }
    .header-navbar-hamburger:before,
    .header-navbar-hamburger:after {
        background: url("../assets/logos/hamburger_blue.png") no-repeat;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s opacity ease-out;
    }
    .header-navbar-hamburger:before {
        opacity: 1;
        transition: .4s opacity ease-out;
    }
    .header-navbar-hamburger:after {
        background-position: -45px 0;
        opacity: 0;
        transition: .4s opacity ease-in;
    }
    .nav-open .header-navbar-hamburger:before {
        opacity: 0;
    }
    .nav-open .header-navbar-hamburger:after {
        opacity: 1;
    }
    .header-navbar-items {
        background-color: rgba(255, 255, 255, .95);
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0);
        float: left;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        transition: .4s max-height ease-out, .4s box-shadow ease-out;
        width: 100%;
    }
    .nav-open .header-navbar-items {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .25);
        max-height: 340px;
        /* TODO: fix magic constant */
    }
    .header-navbar-item {
        float: none;
    }
    .header-navbar-link,
    .header-navbar-scrolled .header-navbar-link,
    .header-navbar-link:hover,
    .header-navbar-scrolled .header-navbar-link:hover {
        background: transparent;
        color: #193d56;
        padding: 24px 32px;
        margin: 0;
    }
    .header-navbar-link:active,
    .header-navbar-scrolled .header-navbar-link:active {
        background: #193d56;
        color: #ccc;
    }
    .header-navbar-link:after,
    .header-navbar-scrolled .header-navbar-link:after {
        background-color: #ddd;
        bottom: auto;
        height: 2px;
        margin: 0 5%;
        top: 0;
        width: 90%;
        z-index: 1;
    }
    .header-navbar-link:hover:after,
    .header-navbar-link:active:after {
        height: 2px;
    }
}

/*
  SLIDESHOW FORMAT
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*
  IMAGE LAYOVER FORMAT
*/

.team {
  display: inline-block;
}

.team h1 {
  margin-left: 5%;
}

.teamRow {
  display: inline-block;
  margin-bottom: 20vh;
}

.left {
  margin-left: 5%;
}

.right {
  margin-right: 5%;
}

.individual {
  width: 100%;
  height: 20vh;
  float: left;
}

.pfp {
  width: 30%;
  height: auto;
  margin: 0;
  float: left;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 20vh;
  padding-right: 1rem;
  float: left;
}

@media only screen and (min-width: 900px) {
  .individual {
    width: 45%;
  }

  .left p{
    padding-right: 2em;
  }
}

.container-exec-lead {
  position: relative;
  width: 45%;
  margin: 0.5rem;
}

.container-member {
  position: relative;
  width: 30%;
  margin: 0.33rem;
}

.image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  display: block;
}


.overlay {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #193e53;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-exec-lead:hover .overlay {
  opacity: .8;
}

.container-member:hover .overlay {
  opacity: .8;
}

/* style starts */
/* does not work but ideally it should in the end.
@media only screen and (max width: 1030px) {
  .overlay-img-text {
    display: none;
  }
}
*/
/*@media only screen and (min width: 1030px) {*/
  .overlay-img-text {
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
/*}*/

p {
  font-size: 1.2vw;
  color: black;
  padding-bottom: 0.5vw;
}
/*
@media screen and (max width: 1030px) {
  p {
    display: none;
    font-size: 1vw;
    color: cyan;
  }
}
@media screen and (min width: 1030px) {
  p {
    font-size: 1vw;
    color: cyan;
  }
}
}*/
/* style ends */

.column {
    float: left;
    width: 33.33%;
    border: 5px;
}

.row {
    display: flex;
}

/*
Footer
*/

footer {
  background-color: #193f55;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  height: 16rem; }
  footer .copyright {
    position: relative;
    float: right;
    right: 2%;
    top: 4%;
    margin-bottom: 0; }
    @media screen and (max-width: 600px) {
      footer .copyright {
        top: 90%;
        display: none; } }
  footer .column1 {
    float: left;
    margin: 0 1%;
    width: 31%;
    padding-right: 10%;
    margin-top: 02%;
    margin-bottom: 0;
    position: relative;
    left: 8%; }
    @media screen and (max-width: 600px) {
      footer .column1 {
        width: 45%; } }
    footer .column1 img {
      position: relative;
      right: 1.5vw;
      width: 22vw; }
      @media screen and (max-width: 600px) {
        footer .column1 img {
          width: 33vw; } }
    footer .column1 p {
      margin-top: 1.5rem;
      color: #efefef;}
  footer .column2 {
    float: left;
    margin: 3% 1%;
    width: 11%;
    margin-left: 30%;
    margin-bottom: 0; }
    @media screen and (max-width: 600px) {
      footer .column2 {
        margin-left: 15%; } }
    footer .column2 ul {
      margin-top: 1.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem;
      padding-left: 0.5rem; }
      footer .column2 ul a {
        text-decoration: none;
        color: #efefef; }
  footer .column3 {
    float: left;
    margin: 3% 1%;
    width: 11%;
    margin-bottom: 0;
    margin-left: 4%; }
    @media screen and (max-width: 600px) {
      footer .column3 {
        display: none; } }
    footer .column3 ul {
      margin-top: 1.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem; }
