body{
  overflow-x: hidden;
  color: white;
  font-family: proxima-nova, sans-serif;
}

.logo-container {
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25vh;
}

.logo-left {
  width: 30%;
  transform: translate(10%, 0);
}

.logo-right {
  width: 70%;
  transform: translate(-10%, 0);
}

.logo-child {
  z-index: 2;
}

.logo-child > img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(-3px 3px 0px rgb(0, 0, 0, 0.4));
}

.logo-text {
  margin-left: 20%;
  font-style: italic;
  filter: drop-shadow(-2px 2px 0px rgb(0, 0, 0, 0.4));
}

.logo-text > h2 {
  font-size: 3vw;
  font-weight: 900;
}

.countdown-container{
  width: 50%;
  font-size: 3vw;
}

.date-text {
  font-size: 2.5vw;
}

@media only screen and (max-width: 700px) {
  .logo-container {
    width: 90%;
  }

  .logo-text > h2 {
    font-size: 5vw;
    font-weight: 900;
  }

  .date-text {
    font-size: 4vw;
  }

}

.section-container {
  width: 60%;
  text-align: center;
  margin: auto;
  border-radius: 14px;
  box-shadow: 7px 7px 7px rgb(0 0 0 / 20%)
}

@media only screen and (max-width: 700px) {
  .section-container {
    width: 80%;
  }

  .countdown-container{
    width: 80%;
    font-size: 3em;
  }
}

.section-title-container {
  display:flex;
  align-items: center;
  margin: auto;
  width: fit-content;
  justify-content: center;
}

.section-title-container > img {
  height:7%;
  width: 7%;
  margin: 2%;
}

.section-title {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 2%;
}

.section-text{
  padding-left: 10%;
  padding-right: 10%;
}

.tracks-container {
  flex-direction: "row",
}

@media only screen and (max-width: 700px) {
  .tracks-container {
    flex-direction: column;
  }
}

.track {
  /*box-shadow: 0 0 1px 1px;*/
  text-align: center;
}

.track:hover {
  box-shadow: 0 0 5px 1px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 5%;
  width: auto;
}

.footer-text {
  width: 30%;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 0;
  float: left;
}

.footer-img {
  width: 5%;
  height: 5%;
  margin-left: 1%;
}

@media only screen and (max-width: 700px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
  }

  .footer-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  .footer-img {
    width: 10%;
    height: 10%;
    margin-left: 5%;
  }
}

.page-title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 4em;
}

.schedule-table {
  margin: auto;
  width: 80%;
}

.schedule-table > tr > td {
  padding: 2%;
  border: 1px solid black;
  text-align: center;
  margin: 5%;
  color: black;
  width: 40%;
}

.schedule-table > tr > td:first-child {
  border-left: none;
}

.schedule-table > tr > td:last-child {
  border-right: none;
}

.schedule-table > tr:first-child > td{
  border-top: none;
}

.schedule-table > tr:last-child > td {
  border-bottom: none;
}

.day {
  box-shadow: 7px 7px 7px rgb(0 0 0 / 25%);
}

.day:hover {
  box-shadow: 7px 7px 7px rgb(0 0 0 / 75%);
}