body{
  overflow-x: hidden;
  color: white;
  font-family: proxima-nova, sans-serif;
}

.section-container {
  width: 60%;
  text-align: center;
  margin: auto;
  border-radius: 14px;
  box-shadow: 7px 7px 7px rgb(0 0 0 / 20%)
}

.section-title {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 2%;
}

.section-text{
  padding-left: 10%;
  padding-right: 10%;
}


.track {
  /*box-shadow: 0 0 1px 1px;*/
  text-align: center;
}

.track:hover {
  box-shadow: 0 0 5px 1px;
}

.page-title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 4em;
}

.schedule-table {
  margin: auto;
}

.schedule-table > tr > td {
  padding: 2%;
  border: 1px solid black;
  text-align: center;
  margin: 5%;
  color: black;
  width: 50%;
}

.schedule-table > tr > td:first-child {
  border-left: none;
}

.schedule-table > tr > td:last-child {
  border-right: none;
}

.schedule-table > tr:first-child > td{
  border-top: none;
}

.schedule-table > tr:last-child > td {
  border-bottom: none;
}

.day {
  box-shadow: 7px 7px 7px rgb(0 0 0 / 25%);
}

.day:hover {
  box-shadow: 7px 7px 7px rgb(0 0 0 / 75%);
}